.search-item:hover{
    background-color: #BBBBBB;
}
.search-item{
    background-color: #DDDDDD;
    margin-bottom: 3px;
}

.current-location-col:hover{
    background-color: rgb(86, 255, 199);
}
.current-location-col{
    background-color: rgb(191, 255, 234);
    margin-bottom: 3px;
}

.clear-history:hover{
    background-color: rgb(255, 176, 176);
}
.clear-history{
    background-color: rgb(255, 219, 219);
    margin-bottom: 3px;
}

.input{
    margin: 0 7px 7px 0;
    height: 44px;
}

.search-btn{
    margin: 0 7px 7px 0;
}

.forecast-block{
    background-color: rgb(191, 255, 234);
    margin: 0 4px 4px 0;
    padding: 10px;
}

.current-weather-col{
    background-color: rgb(191, 255, 234);
}

.five-day-forecast-title{
    background-color: rgb(191, 255, 234);
    margin: 0 4px 4px 0;
    padding: 10px;
}

.current-weather-icon{
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: inline-block;
}